In [7]:
import pandas as pd
data = pd.DataFrame({"Doctor ID" :["D101","D102","D103","D104","D105"],
                   "Name":["Dr.Anil Kumar","Dr. Priya Singh","Dr. Ramesh","Dr. Niranjan Kumar","Dr. Suresh Rao"],
                   "Specialisation":["Cardiologist","Dermatologist","Neurologist","Pediatrician","Orthopedic"],
                   "Experience(Years)":[12,8,15,6,10],
                   "City":["Chennai","Delhi","Benguluru","Mumbai","Hyderabad"]})

data.set_index("Doctor ID",inplace=True)
print(data)

                         Name Specialisation  Experience(Years)       City
Doctor ID
D101            Dr.Anil Kumar   Cardiologist                 12    Chennai
D102          Dr. Priya Singh  Dermatologist                  8      Delhi
D103               Dr. Ramesh    Neurologist                 15  Benguluru
D104       Dr. Niranjan Kumar   Pediatrician                  6     Mumbai
D105           Dr. Suresh Rao     Orthopedic                 10  Hyderabad